$ui-background: #21272a;
$interactive-01: #165cfa;
$interactive-02: #697077;
$interactive-03: #fff;
$interactive-04: #4080fb;
$danger: #d8222f;
$ui-01: #343a3f;
$ui-02: #4d5358;
$ui-03: #4d5358;
$ui-04: #878d96;
$ui-05: #f2f4f8;
$text-01: #f2f4f8;
$text-02: #c1c7cd;
$text-03: #697077;
$text-04: #fff;
$text-05: #878d96;
$link-01: #78a9ff;
$inverse-link: #165cfa;
$icon-01: #f2f4f8;
$icon-02: #c1c7cd;
$icon-03: #fff;
$field-01: #343a3f;
$field-02: #4d5358;
$inverse-01: #121619;
$inverse-02: #f2f4f8;
$support-01: #f74f5a;
$support-02: #42be65;
$support-03: #fecc7b;
$support-04: #4080fb;
$inverse-support-01: #d8222f;
$inverse-support-02: #24a148;
$inverse-support-03: #f9ba56;
$inverse-support-04: #165cfa;
$overlay-01: rgba(18, 22, 25, .70);
$focus: #fff;
$hover-primary: #053fc4;
$hover-primary-text: #9dc2fd;
$hover-secondary: #5f656b;
$hover-tertiary: #f2f4f8;
$hover-ui: #464c51;
$hover-row: #343a3f;
$hover-danger: #a01b24;
$active-primary: #022b8f;
$active-secondary: #343a3f;
$active-tertiary: #c1c7cd;
$active-ui: #697077;
$active-danger: #741017;
$selected-ui: #4d5358;
$highlight: #022b8f;
$visited-link: #bd98fc;
$disabled-01: #343a3f;
$disabled-02: #4d5358;
$disabled-03: #878d96;
$skeleton-01: #464c51;
$skeleton-02: #4d5358;
$hover-selected-ui: #5a6066;
$inverse-hover-ui: #e0e4ea;
$data-viz-01-01: #8949f8;
$data-viz-01-02: #37a9fc;
$data-viz-01-03: #007d79;
$data-viz-01-04: #fd80b6;
$data-viz-01-05: #f74f5a;
$data-viz-01-06: #fff1f1;
$data-viz-01-07: #6fdc8c;
$data-viz-01-08: #4080fb;
$data-viz-01-09: #cf2c71;
$data-viz-01-10: #fffd7e;
$data-viz-01-11: #08bdba;
$data-viz-01-12: #b4e2fe;
$data-viz-01-13: #f39c28;
$data-viz-01-14: #d4bdfd;