//----------------------------------------------------------------------------
// Header tokens
//----------------------------------------------------------------------------
/// Header bar background
/// @type Color
/// @access private
/// @group frame
$frame-header-bg-01: $grey-100;

/// Header menu trigger hover, Header nav link hover
/// @type Color
/// @access private
/// @group frame
$frame-header-bg-02: $grey-hover-100;

/// Header action active background
/// @type Color
/// @access private
/// @group frame
$frame-header-bg-03: $grey-80;

/// Header submenu link hover
/// @type Color
/// @access private
/// @group frame
$frame-header-bg-04: $grey-hover-90;

/// Header nav link active and focus background
/// @type Color
/// @access private
/// @group frame
$frame-header-bg-05: $grey-70;

/// Header nav link submenu
/// @type Color
/// @access private
/// @group frame
$frame-header-bg-06: $grey-90;

/// Header border bottom
/// @type Color
/// @access private
/// @group frame
$frame-header-border-01: $grey-80;

/// Header focus
/// @type Color
/// @access private
/// @group frame
$frame-header-focus: $white;

/// Primary text in header, Title text
/// @type Color
/// @access private
/// @group frame
$frame-header-text-01: $grey-10;

/// Secondary text in header, Menu item nav text
/// @type Color
/// @access private
/// @group frame
$frame-header-text-02: $grey-30;

/// Header menu trigger
/// @type Color
/// @access private
/// @group frame
$frame-header-icon-01: $grey-10;

/// Header bar icons
/// @type Color
/// @access private
/// @group frame
$frame-header-icon-02: $white;

/// Header bar icons
/// @type Color
/// @access private
/// @group frame
$frame-header-icon-03: $grey-30;

/// Item link
/// @type Color
/// @access private
/// @group frame
$frame-header-link: $blue-60;

//----------------------------------------------------------------------------
// Header Panel tokens
//----------------------------------------------------------------------------

/// Header-panel background
/// @type Color
/// @access private
/// @group frame
$frame-panel-bg-01: $grey-100;

/// Panel item hover background
/// @type Color
/// @access private
/// @group frame
$frame-panel-bg-02: $grey-hover-100;

/// Panel item focus and active background
/// @type Color
/// @access private
/// @group frame
$frame-panel-bg-03: $grey-80;

/// Panel item link selected background
/// @type Color
/// @access private
/// @group frame
$frame-panel-bg-04: $grey-90;

/// Panel border
/// @type Color
/// @access private
/// @group frame
$frame-panel-border: $grey-80;

/// Header panel text
/// @type Color
/// @access private
/// @group frame
$frame-panel-text-01: $grey-30;

/// Header panel secondary text
/// @type Color
/// @access private
/// @group frame
$frame-panel-text-02: $grey-10;

/// Header panel focus border
/// @type Color
/// @access private
/// @group frame
$frame-panel-focus: $white;

//----------------------------------------------------------------------------
// Side nav tokens
//----------------------------------------------------------------------------
/// Side-nav panel background
/// @type Color
/// @access private
/// @group frame
$frame-side-nav-bg-01: $white;

/// Selected category background
/// Select L2 flatted item background
/// Item active background
/// Footer-bar background
/// @type Color
/// @access private
/// @group frame
$frame-side-nav-bg-02: $grey-80; //TODO waiting for updated color

/// Selected L2 nested item
/// @type Color
/// @access private
/// @group frame
$frame-side-nav-bg-03: $grey-70; //TODO waiting for updated color

/// Side nav item hover background
/// @type Color
/// @access private
/// @group frame
$frame-side-nav-bg-04: $grey-hover-10; //TODO needs color var grey-90-hover

/// Side nav menu item hover background
/// @type Color
/// @access private
/// @group frame
$frame-side-nav-bg-05: $grey-hover-80; //TODO needs color var grey-80-hover

/// Primary text in side-nav
/// L2 Flatten item text
/// L2 Nested item text
/// L1 title text
/// @type Color
/// @access private
/// @group frame
$frame-side-nav-text-01: $grey-70; //TODO waiting for updated color

/// Secondary text in side nav
/// L2 Category label
/// @type Color
/// @access private
/// @group frame
$frame-side-nav-text-02: $grey-30; //TODO waiting for updated color

/// Side-nav icon color
/// @type Color
/// @access private
/// @group frame
$frame-side-nav-icon-01: $grey-70; //TODO waiting for updated color

/// Item highlight bar
/// @type Color
/// @access private
/// @group frame
$frame-side-nav-accent-01: $blue-60; //TODO waiting for updated color
