body {
    background-color: transparent !important;
}

.sbdocs.sbdocs-wrapper {
    justify-content: normal;
}

.sbdocs.sbdocs-content {
    max-width: 1120px;
}

.sbdocs.sbdocs-h1 {
    font-size: $font-size-08;
}
